@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --doger-blue: #3882f6;
    --solitude: #e5e7eb;;
    --midnight-express: #1f2937;
    --black-squeeze: #f9faf8;
    --raven: #6d747d;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

button {
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
    text-align: center;
    text-decoration: none;
}

button, .call-to-action {
    background-color: var(--doger-blue);
    color: white;
}

footer {
    color: var(--solitude);
    text-align: center;
}

header column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header column div {
    width: 50%;
    flex-shrink: 0;
}

header column div#placeholder {
    background-color: var(--raven);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}

header {
    font-size: 18px;
    color: var(--solitude);
}

header, footer {
    background-color: var(--midnight-express);
}

header, footer, main {
    padding: 50px 100px 100px;
}

header h1 {
    font-size: 48px;
    font-weight: 900;
    color: var(--black-squeeze);
}

header #logo {
    font-size: 24px;
    color: var(--black-squeeze);
    font-weight: bold;
}

header row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 100px;
}

main {
    display: flex;
    flex-direction: column;
}

main column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-bottom: 100px;
}

main column div {
    border-color: var(--doger-blue);
    border-radius: 10px;
    border-style: solid;
    width: 100px;
    height: 100px;
    font-size: smaller;
    flex-shrink: 0;
}

main column row {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

main column row.subtext div {
    border: 0;
}

main h2 {
    font-size: 36px;
    color: var(--midnight-express);
    font-weight: 900;
    text-align: center;
}

main row {
    display: flex;
    justify-content: center;
    margin: 20px 40px;
}

main row div.call-to-action {
    width: 60%;
    padding: 25px 100px;
    border-radius: 10px;
}

main row div.call-to-action column {
    padding: 0;
    gap: 0;
    justify-content: space-between;
    flex-direction: row;
}

main row div.call-to-action column div {
    width: auto;
    height: auto;
    border: 0;
}

main div.call-to-action button {
    border: 2px solid white;
}

main div.call-to-action h3 {
    margin: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding-left: 10px;
}

nav ul li:first-child {
    padding-left: 0;
}

nav ul li a {
    font-size: 18px;
    color: var(--solitude);
    text-decoration: none;
}

q {
    background-color: var(--solitude);
    color: var(--midnight-express);
    font-size: 36px;
    font-weight: 300;
    padding: 100px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 100px;
}

q::before, q::after {
    content: none;
}

blockquote {
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    display: flex;
}